MQTT data/flows.json
[{"id":"9cea145bbcad5221","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7ddfa1d8acb32278","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"22f394e5.96b87c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7c8bd5b8.9d901c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff2600","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ff2600","edited":true},"page-titlebar-backgroundColor":{"value":"#ff2600","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ff674d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff2600","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"352010d7.7bdd4","type":"ui_tab","name":"Color Sensor Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"f7013d7d.5eb85","type":"ui_group","name":"Green","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"b7fc28ec.02cca8","type":"ui_group","name":"blue","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"ceeff91c.56a9b8","type":"ui_group","name":"Clear","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"34e8a021.21be4","type":"ui_group","name":"Red","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"40cbfaa6.5d37a4","type":"ui_group","name":"Day chart","tab":"b8b5757d.f38bb8","disp":true,"width":"6","collapse":false},{"id":"46a8ac65.d0f114","type":"google-cloud-credentials","name":"IOTFI Credentials"},{"id":"b8b5757d.f38bb8","type":"ui_tab","name":"Raw Telemetry","icon":"dashboard","disabled":false,"hidden":false},{"id":"836aeafb.6b2e98","type":"ui_group","name":"IMU","tab":"b8b5757d.f38bb8","disp":true,"width":"6","collapse":false},{"id":"94b2215f.4694","type":"bigquery-config"},{"id":"71b170cd.61afd","type":"google-cloud-credentials","name":"iotfi"},{"id":"4b1f5d5c.eddd44","type":"ui_tab","name":"Graphs","icon":"dashboard","disabled":false,"hidden":false},{"id":"5a4020c2.81e","type":"ui_group","name":"Graphs","tab":"4b1f5d5c.eddd44","disp":true,"width":"6","collapse":false},{"id":"78575fdf.e65308","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1424ade0.635bda","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55ef459f.a99114","type":"ui_group","name":"Velocity","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"df73289f.14496","type":"ui_group","name":"Altitude","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"92daa97d.01534","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"638e76e3.97a0e","type":"mqtt-broker","name":"android consumer","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"987658cd.8a2738","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"98d3277d22e0e89d","type":"ui_group","name":"Acceleration","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"3d7dab06e72844d8","type":"ui_group","name":"Voltage","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"69c7e0bf55ba177e","type":"ui_group","name":"State","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"efe95dbd801bb2e5","type":"mqtt in","z":"9cea145bbcad5221","name":"","topic":"Flightdata","qos":"2","datatype":"auto-detect","broker":"22f394e5.96b87c","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":120,"wires":[["2b11ead6339073f5","72b1f2b958f9260d","3dae2e2524db9473","f8b0b9d4ebb9452d","32116aa3d3e212d8","510681617cc7a1e9"]]},{"id":"2b11ead6339073f5","type":"function","z":"9cea145bbcad5221","name":"altitude","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.gps_alt;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["492c31edacbe32b5","0f4ea0f246c103c0","64dc4c7eef3646a3"]]},{"id":"72b1f2b958f9260d","type":"function","z":"9cea145bbcad5221","name":"velocity","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.STE_VEL;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["4bb4675329f12495","13778ab1f391433e","bb2824dc6719b091"]]},{"id":"492c31edacbe32b5","type":"ui_chart","z":"9cea145bbcad5221","name":"","group":"5a4020c2.81e","order":0,"width":0,"height":0,"label":"Altitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#b51a00","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":180,"wires":[[]]},{"id":"0f4ea0f246c103c0","type":"ui_gauge","z":"9cea145bbcad5221","name":"","group":"df73289f.14496","order":3,"width":0,"height":0,"gtype":"gage","title":"Altitude","label":"Ft","format":"{{value}}","min":0,"max":"50000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":240,"wires":[]},{"id":"4bb4675329f12495","type":"ui_gauge","z":"9cea145bbcad5221","name":"","group":"55ef459f.a99114","order":3,"width":0,"height":0,"gtype":"gage","title":"Velocity","label":"MPH","format":"{{value}}","min":"0","max":"900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":540,"wires":[]},{"id":"3dae2e2524db9473","type":"function","z":"9cea145bbcad5221","name":"Acceleration","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.STE_ACC;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":620,"wires":[["0ab6d82a31361856","914aae5fd3db3f33","05081ae2c72b6b5e"]]},{"id":"0ab6d82a31361856","type":"ui_text","z":"9cea145bbcad5221","d":true,"group":"98d3277d22e0e89d","order":1,"width":0,"height":0,"name":"","label":"Acceleration","format":"{{msg.payload}}","layout":"row-center","x":550,"y":620,"wires":[]},{"id":"914aae5fd3db3f33","type":"ui_gauge","z":"9cea145bbcad5221","name":"","group":"98d3277d22e0e89d","order":3,"width":0,"height":0,"gtype":"gage","title":"Acceleration","label":"Gs","format":"{{value}}","min":"-9","max":"9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":700,"wires":[]},{"id":"f8b0b9d4ebb9452d","type":"function","z":"9cea145bbcad5221","name":"Voltage","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.Voltage;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":800,"wires":[["46b501b1582621c5","4bc5029d3c570694","beceedfc3f2fa9cc"]]},{"id":"46b501b1582621c5","type":"ui_text","z":"9cea145bbcad5221","d":true,"group":"3d7dab06e72844d8","order":1,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}}","layout":"row-center","x":540,"y":800,"wires":[]},{"id":"4bc5029d3c570694","type":"ui_gauge","z":"9cea145bbcad5221","name":"","group":"3d7dab06e72844d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{value}}","min":"0","max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":880,"wires":[]},{"id":"13778ab1f391433e","type":"ui_chart","z":"9cea145bbcad5221","name":"","group":"5a4020c2.81e","order":0,"width":0,"height":0,"label":"Velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":380,"wires":[[]]},{"id":"05081ae2c72b6b5e","type":"ui_chart","z":"9cea145bbcad5221","name":"","group":"5a4020c2.81e","order":0,"width":0,"height":0,"label":"Acceleration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":660,"wires":[[]]},{"id":"beceedfc3f2fa9cc","type":"ui_chart","z":"9cea145bbcad5221","name":"","group":"5a4020c2.81e","order":0,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":840,"wires":[[]]},{"id":"32116aa3d3e212d8","type":"function","z":"9cea145bbcad5221","name":"FSM","func":"// Create a closure to store the previous state\nvar prevState = prevState || \"\";\n\n// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.gps_alt !== \"undefined\") {\n    // Extract the value of gps_alt\n    var gpsAltValue = msg.payload.value.gps_alt;\n\n    // Determine the altitude range and set the corresponding output\n    if (gpsAltValue < 10000) {\n        msg.payload = \"IDLE\";\n    } else if (gpsAltValue >= 10000 && gpsAltValue < 20000) {\n        msg.payload = \"BOOST\";\n    } else if (gpsAltValue >= 20000 && gpsAltValue < 30000) {\n        msg.payload = \"COAST\";\n    } else if (gpsAltValue >= 30000 && gpsAltValue < 40000) {\n        msg.payload = \"APPOGEE\";\n    } else if (gpsAltValue >= 40000 && gpsAltValue < 50000) {\n        msg.payload = \"Landed\";\n    } else {\n        // Handle the case where the altitude is outside the specified ranges\n        msg.payload = \"Error: Altitude out of range\";\n    }\n\n    // Check if the state has changed\n    if (prevState !== msg.payload) {\n        // Print the new message only once for each state\n        console.log(msg.payload);\n\n        // Update the previous state\n        prevState = msg.payload;\n    }\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n\n    // Check if the state has changed\n    if (prevState !== msg.payload) {\n        // Print the new message only once for each state\n        console.log(msg.payload);\n\n        // Update the previous state\n        prevState = msg.payload;\n    }\n}\n\n// Return the modified msg object\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":120,"wires":[["835a2f18482f2819"]]},{"id":"510681617cc7a1e9","type":"debug","z":"9cea145bbcad5221","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":80,"wires":[]},{"id":"835a2f18482f2819","type":"ui_text","z":"9cea145bbcad5221","d":true,"group":"69c7e0bf55ba177e","order":1,"width":0,"height":0,"name":"","label":"FSM State","format":"{{msg.payload}}","layout":"row-center","x":650,"y":120,"wires":[]},{"id":"bb2824dc6719b091","type":"ui_text","z":"9cea145bbcad5221","d":true,"group":"55ef459f.a99114","order":1,"width":0,"height":0,"name":"","label":"Velocity","format":"{{msg.payload}}","layout":"row-center","x":560,"y":460,"wires":[]},{"id":"64dc4c7eef3646a3","type":"ui_text","z":"9cea145bbcad5221","d":true,"group":"df73289f.14496","order":1,"width":0,"height":0,"name":"","label":"Altitude","format":"{{msg.payload}}","layout":"row-center","x":560,"y":320,"wires":[]},{"id":"d876844aa0634f66","type":"inject","z":"9cea145bbcad5221","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2000","payloadType":"num","x":110,"y":240,"wires":[["0f4ea0f246c103c0"]]},{"id":"c5550a0c81a7587d","type":"inject","z":"9cea145bbcad5221","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":110,"y":300,"wires":[["4bb4675329f12495"]]},{"id":"570500520b3d1cbd","type":"inject","z":"9cea145bbcad5221","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":360,"wires":[["914aae5fd3db3f33"]]},{"id":"f50fada7067eab3c","type":"inject","z":"9cea145bbcad5221","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":110,"y":440,"wires":[["4bc5029d3c570694"]]},{"id":"1b6fbd7f03da65f0","type":"mqtt in","z":"9cea145bbcad5221","name":"","topic":"BotPatrol","qos":"2","datatype":"auto-detect","broker":"22f394e5.96b87c","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":80,"wires":[["510681617cc7a1e9"]]},{"id":"ec2a01d21af393eb","type":"inject","z":"9cea145bbcad5221","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20000","payloadType":"num","x":110,"y":180,"wires":[["0f4ea0f246c103c0","4bb4675329f12495"]]},{"id":"0692077afc080214","type":"mqtt in","z":"7ddfa1d8acb32278","name":"","topic":"Flightdata","qos":"2","datatype":"auto-detect","broker":"22f394e5.96b87c","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":60,"wires":[["213944f8d580bb07","2507cdbb7f8e2a51","d840d39dc92212ce","c69763167dede6bf","39ba86160f273ca1","579f666cc25a3099"]]},{"id":"213944f8d580bb07","type":"function","z":"7ddfa1d8acb32278","name":"IMU_mx:","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.IMU_mx;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":140,"wires":[["44cd2e6b9a121233"]]},{"id":"2507cdbb7f8e2a51","type":"function","z":"7ddfa1d8acb32278","name":"IMU_my","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.IMU_my;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":200,"wires":[["5ed9973a87b4f666"]]},{"id":"d840d39dc92212ce","type":"function","z":"7ddfa1d8acb32278","name":"IMU_mz","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.IMU_mz;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":260,"wires":[["b365616991cbf29d"]]},{"id":"c69763167dede6bf","type":"function","z":"7ddfa1d8acb32278","name":"IMU_gx","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.IMU_gx;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":360,"wires":[["3756e0153ebe8785"]]},{"id":"39ba86160f273ca1","type":"function","z":"7ddfa1d8acb32278","name":"IMU_gy","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.IMU_gy;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":420,"wires":[["baccbdbb33c11b5c"]]},{"id":"579f666cc25a3099","type":"function","z":"7ddfa1d8acb32278","name":"IMU_gz","func":"// Assuming msg.payload is the provided object\n\n// Check if msg.payload exists and has the required properties\nif (msg.payload && msg.payload.type === \"data\" && msg.payload.value && typeof msg.payload.value.IMU_gz !== \"undefined\") {\n    // Extract the value of IMU_gz\n    var imuGzValue = msg.payload.value.IMU_gz;\n\n    // Set the result to be sent to the next Node-RED node\n    msg.payload = imuGzValue;\n} else {\n    // Handle the case where the required properties are missing\n    msg.payload = \"Error: Invalid payload structure\";\n}\n\n// Return the modified msg object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":480,"wires":[["4e49bf3f78c602f0"]]},{"id":"44cd2e6b9a121233","type":"ui_text","z":"7ddfa1d8acb32278","group":"836aeafb.6b2e98","order":1,"width":0,"height":0,"name":"","label":"IMU_mx","format":"{{msg.payload}}","layout":"row-center","x":260,"y":140,"wires":[]},{"id":"5ed9973a87b4f666","type":"ui_text","z":"7ddfa1d8acb32278","group":"836aeafb.6b2e98","order":1,"width":0,"height":0,"name":"","label":"IMU_my","format":"{{msg.payload}}","layout":"row-center","x":260,"y":200,"wires":[]},{"id":"b365616991cbf29d","type":"ui_text","z":"7ddfa1d8acb32278","group":"836aeafb.6b2e98","order":1,"width":0,"height":0,"name":"","label":"IMU_mz","format":"{{msg.payload}}","layout":"row-center","x":260,"y":260,"wires":[]},{"id":"3756e0153ebe8785","type":"ui_text","z":"7ddfa1d8acb32278","group":"836aeafb.6b2e98","order":1,"width":0,"height":0,"name":"","label":"IMU_gx","format":"{{msg.payload}}","layout":"row-center","x":260,"y":360,"wires":[]},{"id":"baccbdbb33c11b5c","type":"ui_text","z":"7ddfa1d8acb32278","group":"836aeafb.6b2e98","order":1,"width":0,"height":0,"name":"","label":"IMU_gy","format":"{{msg.payload}}","layout":"row-center","x":260,"y":420,"wires":[]},{"id":"4e49bf3f78c602f0","type":"ui_text","z":"7ddfa1d8acb32278","group":"836aeafb.6b2e98","order":1,"width":0,"height":0,"name":"","label":"IMU_gz","format":"{{msg.payload}}","layout":"row-center","x":260,"y":480,"wires":[]}]